<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group" *ngFor="let field of dynamicFormJson | visible">
          <div class="flex">
            <label [for]="field.label">{{ field.label | titlecase }}</label>
            <span
              class="help-block"
              *ngIf="
                !form.get(field.label)?.valid &&
                (form.get(field.label)?.touched || submited)
              "
              >{{ field.errorMessage || "" }}</span
            >
          </div>

          <div [ngSwitch]="field.type">
            <input
              *ngSwitchCase="'slider'"
              type="range"
              [formControlName]="field.label"
              [id]="field.label"
            />

            <select
              *ngSwitchCase="'dropdown'"
              [formControlName]="field.label"
              [id]="field.label"
              class="form-control"
            >
              <option *ngFor="let option of field.options" [value]="option">
                {{ option }}
              </option>
            </select>

            <textarea
              *ngSwitchCase="'textarea'"
              [formControlName]="field.label"
              [id]="field.label"
              rows="3"
              class="form-control"
            ></textarea>

            <input
              *ngSwitchDefault
              [type]="field.type"
              [id]="field.label"
              [formControlName]="field.label"
              class="form-control"
              [ngClass]="{ checkbox: field.type === 'checkbox' }"
            />
          </div>
        </div>

        <button class="btn btn-success" type="submit">Submit</button>
        <button class="btn btn-danger" type="button" (click)="onReset()">
          Reset
        </button>
      </form>
    </div>
  </div>
</div>
