<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group" *ngFor="let field of dynamicFormJson | visible">
          <div class="flex">
            <label [for]="field.label">{{ field.label | titlecase }}</label>
            <span
              class="help-block"
              *ngIf="
                !form.get(field.label)?.valid &&
                (form.get(field.label)?.touched || submited)
              "
              >{{ field.errorMessage || field.label + " is required" }}</span
            >
          </div>

          <div [ngSwitch]="field.type">
            <div *ngSwitchCase="'slider'">
              <input
                type="range"
                [formControlName]="field.label"
                [id]="field.label"
              />
              <p *ngIf="field.hint" class="hint">Hint: {{ field.hint }}</p>
            </div>

            <div *ngSwitchCase="'dropdown'">
              <select
                [formControlName]="field.label"
                [id]="field.label"
                class="form-control"
                [ngClass]="{ 'ng-touched': submited }"
              >
                <option *ngFor="let option of field.options" [value]="option">
                  {{ option }}
                </option>
              </select>
              <p *ngIf="field.hint" class="hint">Hint: {{ field.hint }}</p>
            </div>

            <div *ngSwitchCase="'checkbox'" class="checkbox-wraper">
              <input
                type="checkbox"
                [formControlName]="field.label"
                [id]="field.label"
                class="checkbox"
                [ngClass]="{ 'ng-touched': submited }"
              />
              <p *ngIf="field.hint" class="hint">Hint: {{ field.hint }}</p>
            </div>

            <textarea
              *ngSwitchCase="'textarea'"
              [formControlName]="field.label"
              [id]="field.label"
              rows="3"
              class="form-control"
              [ngClass]="{ 'ng-touched': submited }"
              [placeholder]="field.hint || ''"
            ></textarea>

            <input
              *ngSwitchDefault
              [type]="field.type"
              [id]="field.label"
              [formControlName]="field.label"
              class="form-control"
              [ngClass]="{ 'ng-touched': submited }"
              [placeholder]="field.hint || ''"
            />
          </div>
        </div>

        <button class="btn btn-success" type="submit">Submit</button>
        <button class="btn btn-danger" type="button" (click)="onReset()">
          Reset
        </button>
      </form>
    </div>
  </div>
</div>
